body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    background-image: url("https://i.pinimg.com/564x/68/fe/4e/68fe4e1fb44be1f80643b7f6ff059096.jpg");
    
}

main{
    background-color: rgba(208, 209, 255, 0.95);
    border-radius: 30px;
    margin: auto 25%;
    padding-bottom: 3%;
}


#title{
    padding-top: 5%;
    text-align: center;

}

#description{
    margin: -1%;
    padding-bottom: 2%;
    text-align: center;
}

div{
    display: block;
    padding: 4% 0 0 4%;
    margin-bottom: 2%;
    margin-left: 25%;

  
}

#name, #email, #number, #kind, #dropdown{
    width:60%;
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: bold;
    margin-top: 2%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

.check{
    margin-left: 10%;
}

.textarea{
    margin-left: -10%;
    text-align: center;
    padding-top: 1%;
    max-width: 95%;
}


#submit{
    margin-left: -25%;
    padding-left: 50%;
    padding-right:50%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #FFACC5 !important;
    border-color: #FFACC5;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;


}